.trainer {
    font-size: 1.2rem;
}

.trainer__spinner {
    align-items: center;
    height: 100%;
    width: 100%;
}

.trainer__error {
    height: 100%;
}


.symbols_passed {
    color: #49AC58;
}

.symbols_failed {
    color: #D03E1C;
}

.symbols_black {
     color: #323131;
 }

.symbols_current {
    background-color: #e3f2fd;
    border-radius: 3px;
}